* , ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 20px;
    width: auto;
}

body {
    display: grid;
    grid-template-areas: 
        "aside header header header header header header header"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        "aside main main main main main main main"
        ;
    grid-template-columns: repeat(autofit, minmax(200px, 5fr));
    grid-template-rows: auto;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    background-color: rgb(93, 183, 212);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: aside;
    padding: 1rem 2rem;
    border: 1px solid black;
    color: white;
}
aside .sidebar-top img {
    height: 20px;
    width: auto;
}
.sidebar-top,.sidebar-mid,.sidebar-bot{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sidebar-mid li, .sidebar-bot li{
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: end;
    gap: 1rem;
}
.sidebar-mid a, .sidebar-bot a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: white;
}


header {
    background-color: lightcoral;
    grid-area: header;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.header-top-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-top-left input[type="search"]{
    padding: 6px 10px;
    border-radius: 30px;
    flex: 1 1 auto;
    width: 30rem;
}
.header-top-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-bottom {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;

}
.bottom-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-bottom-options button{
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background-color: rgb(63, 134, 158);
    color: white;
    border: 1px solid rgb(63, 134, 158);
    cursor: pointer;
    font-weight: 800;
}

main {
    background-color: lightpink;
    grid-area: main;
}